*{
    padding: auto;
    margin: auto;
    box-sizing: border-box;
}
.maincontainer{
    height: 100vh;
    width: 100%;
    border: 10px solid rgb(200, 14, 14);
}
.navbar{
    height: 10%;
    width: 100%;
    display: flex;
}
.navbarleft{
    height: 90%;
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.navbarleft img{
    width: 80%;

}
.navbarmidle{
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
    
}
.navbarmidle input{
    height: 90%;
    width: 80%;
    outline: none;
    border-radius: 5px 0 0 5px;
    border: 1px solid blueviolet;
    color: blueviolet;
    padding-left: 3rem;
    font-size: large;
}
.navbar input::placeholder{
    color: blueviolet;
}
.navbarright{
    height: 90%;
    width: 25%;
    display: flex;
    
}
.navbarright button{
    height: 50%;
    width: 20%;
    border: 3px solid blue;
    color: blue;
    border-radius: 1rem;
    background-color: transparent;
}
.navbarright button:hover{
    color: white;
    border-radius: 1rem;
    background-color: blue;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.navbarrightbell i{
    font-size: xx-large;
    color: rgb(173, 181, 33);
}

.navbarrightmail i{
    font-size: xx-large;
    color: blue;
    padding: 1px;
}
.subnavbar{
    height: 7%;
    width: 70%;
    border: 5px solid blue;
    justify-content: left;
}
.mainsection{
    height: 83%;
    width: 98%;
    border: 5px solid black;
    display: flex;
}
.content1{
    height: 97%;
    width: 70%;
    border: 5px solid blue;
    display: flex;
    flex-direction: column;
    
}
.contentsec1{
    height: 15%;
    width: 90%;
    border: 3px solid green;
}
.contentsec2{
    height: 30%;
    width: 90%;
    border: 3px solid green;
}
.contentsec3{
    height: 20%;
    width: 90%;
    border: 3px solid green ;
}
.contentsec4{
    height: 20%;
    width: 90%;
    border: 3px solid green ;
}
.content2{
    height: 97%;
    width: 30%;
    border: 5px solid blue;
    display: flex;
    flex-direction: column;
}
.advertisement{
    height: 58%;
    width: 98%;
    border: 3px solid green;
}
.weather{
    height: 38%;
    width: 98%;
    border: 3px solid green;
}

